%font-standard {
    font-family: 'Roboto', $fallback-font;
}

%font-condensed {
    font-family: 'Roboto Condensed', $fallback-font;
}

%font-size-standard {
    font-size: 16px;
    letter-spacing: .035em;
    line-height: 1.5em;

    @include breakpoint('desktop-large') {
        font-size: 1vw;
    }
}

%font-size-nav {
    font-size: 20px;
    letter-spacing: .035em;
    line-height: 1.5em;
}

%font-size-headline {
    font-size: 9vw;
    line-height: 1em;
}

%font-size-subline {
    font-size: 3vw;
    line-height: 1em;
}
