{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "no-extra-semi": "error",
    "eol-last": ["error", "always"]
  }
}
