//
// Paths
//
$assets: '../assets';
$images: '#{$assets}/images';
$fonts: '#{$assets}/fonts';


//
// Colors
//
$color-white: #ffffff;
$color-black: #000000;
$color-green: #423e22;
$color-yellow: #fee587;
$color-button-text: #6a6961;
$color-footer-text: #cfccbf;
$color-text: $color-black;


//
// Fonts
//
// For font classes see helpers/_fontClasses.scss
//
$fallback-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;


//
// Other
//
